<% provide :title, t("title_help") %>
<h1>Help</h1>
<p>
  <%= t "get_help" %>
  <a href="http://www.railstutorial.org/help"><%= t ".rails_help" %></a>
  <%= t ".to_get_help" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".rubytutorial" %></em>
  <%= t ".book" %></a>.
</p>
