<% provide :title, t("title_home") %>
<div class="center jumbotron">
  <h1><%= t ".home_h" %></h1>
  <p>
    <%= t ".home_page" %>
    <a><%= link_to t(".rubytutorial"), Settings.home.home_railstutorial %></a>
    <%= t ".sampe_aplication" %>
  </p>

  <%= link_to t("t.home_sign_up"), "#", class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), Settings.home.home_railstutorial%>
