<footer class="footer">
  <small>
    <%= t ".the" %><a href="http://www.railstutorial.org/"><%= t ".rubytutorial" %></a>
    <%= t ".by" %><a href="http://www.michaelhartl.com/"><%= t ".f_name" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
